HELP.md
target/
.mvn
.mvn/wrapper/maven-wrapper.jar
**/src/main/**/target/
**/src/test/**/target/

### STS ###
.apt_generated
.classpath
.factorypath
.project
.settings
.springBeans
.sts4-cache

### IntelliJ IDEA ###
.idea
*.iws
*.iml
*.ipr

### NetBeans ###
/nbproject/private/
/nbbuild/
/dist/
/nbdist/
/.nb-gradle/
build/
!**/src/main/**/build/
!**/src/test/**/build/

### VS Code ###
.vscode/


src/client/node_modules
src/client/.pnp
src/client.pnp.js

# testing
src/client/coverage

# production
src/client/build
src/client/node

# misc
src/client/.DS_Store
src/client/.env.local
src/client/.env.development.local
src/client/.env.test.local
src/client/.env.production.localgit

src/client/npm-debug.log*
src/client/yarn-debug.log*
src/client/yarn-error.log*